@import '~styles/variables';

.movie-list-item-skeleton {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin-bottom: 3rem;
  &__poster {
    display: block;
    width: 320px;
    height: 480px;
    margin-bottom: 1rem;
  }
  &__details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__title {
    width: 160px;
    height: 30px;
    margin-right: 1rem;
  }
  &__year {
    width: 40px;
    height: 30px;
  }
}

@media only screen and (max-width: $break-tablet) {
  .movie-list-item-skeleton {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: $break-mobile-large) {
  .movie-list-item-skeleton {
    &__poster {
      height: auto;
    }
  }
}
