@import '~styles/variables';
@import '~styles/mixins';

.nav {
  $self: &;
  $offset: 68px;

  background-color: var(--background-secondary);
  color: var(--color-primary);
  flex-shrink: 0;
  height: calc(100vh - #{$offset});
  opacity: 0.95;
  padding: 20px 0;
  position: fixed;
  top: $offset;
  z-index: $zindex-fixed;

  @include for-size(tablet) {
    bottom: 0;
    height: auto;
    padding: 0;
    top: unset;
    width: 100vw;
  }

  &--collapsed {
    #{ $self }-links-item {
      font-size: 0;

      &[class*='icon-']::before {
        font-size: 1.25rem;
        margin: 0;

        @include for-size(tablet) {
          font-size: 2rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    @include for-size(tablet) {
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__toggler {
    background: var(--background-secondary);
    border-radius: 50%;
    bottom: 0;
    height: 36px;
    position: absolute;
    right: -10px;
    width: 36px;

    @include for-size(tablet) {
      display: none;
    }
  }
}