.skeleton {
  animation: fade-in-out 1500ms infinite;
  background-color: var(--background-skeleton);
  color: var(--background-skeleton);
  overflow: hidden;
  position: relative;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}