//fonts
$font-icon: 'fontello';
$font-primary: 'Roboto';
$font-secondary: 'Arial Narrow';

//palette
$color-white: rgb(255, 255, 255);
$color-black: rgb(5, 5, 5);
$color-solitude: rgb(240, 242, 245);
$color-dodger-blue: rgb(45, 136, 255);
$color-bunker: rgb(36, 37, 38);
$color-mishka: rgb(176, 179, 184);

$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$coolor-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-grey: #adb5bd;

// media breaks
$break-4k: 2560px;
$break-laptop-large: 1440px;
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile-large: 425px;
$break-mobile-medium: 375px;
$break-mobile-small: 320px;
