// fonts
$font-icon: 'fontello';
$font-primary: 'Roboto';
$font-secondary: 'Arial Narrow';

// palette
$color-white: #fff;
$color-black: #050505;
$color-solitude: #f0f2f5;
$color-dodger-blue: #2d88ff;
$color-bunker: #242526;
$color-mishka: #b0b3b8;
$color-buttercup: #d9822b;
$color-red: #dc3545;
$color-green: #28a745;

// media breaks
$break-4k: 2560px;
$break-laptop-large: 1440px;
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile-large: 425px;
$break-mobile-medium: 375px;
$break-mobile-small: 320px;

// z-indexes
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;