.search-movie-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  &__input {
    flex-grow: 1;
    padding-right: 2.75em;
    font-size: 0.75rem;
  }
  &__btn {
    position: absolute;
    right: 8px;
    font-size: 0.75em;
    outline: none;
  }
}
