@import '~styles/_variables';

.movie-menu {
  position: absolute;
  z-index: 20;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.25rem;
  opacity: 0.9;
  &__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25em;
    height: 2.25em;
    color: var(--color-primary);
    font-size: 1rem;
    border-radius: 50%;
    background: var(--background-secondary);
  }
  &__items {
    position: absolute;
    top: 2.25rem;
    right: 0;
    padding: 0.5rem 0;
    border-radius: 4px;
    list-style-type: none;
    background: var(--background-secondary);
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 0.75em;
    font-size: 1rem;
    &:hover {
      background: var(--background-primary);
      cursor: pointer;
    }
    label {
      font-size: inherit;
      width: max-content;
      cursor: pointer;
    }
    input {
      font-size: inherit;
      margin-right: 0.5em;
      cursor: pointer;
    }
  }
}
