.movie-menu {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  &__items {
    list-style-type: none;
    margin-bottom: 1rem;
    max-height: 220px;
    max-width: 240px;
    min-width: 190px;
    overflow-y: auto;
  }
}