@import '~styles/_variables';

.movie-menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  &__items {
    min-width: 190px;
    max-width: 240px;
    max-height: 300px;
    margin-bottom: 1rem;
    list-style-type: none;
    overflow-y: auto;
  }
}
