@import '~styles/variables';

.favourites-list-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5em;
  color: var(--color-primary);
  font-size: 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  &__btn-add {
    margin-right: 0.5rem;
  }
  &__title {
    flex-grow: 1;
    margin-right: 0.5rem;
    padding: 0.25em 0;
    color: inherit;
    font-size: inherit;
    text-overflow: ellipsis;
    border: 0;
    background: inherit;
    overflow: hidden;
  }
}
