@import '~styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 0;
  background-color: var(--background-secondary);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    margin-right: 1.25rem;
    padding-left: 32px;
    color: var(--color-primary);
    font: bold 1.5rem $font-secondary;
    text-decoration: none;
    background: url('~logo.svg') no-repeat left center / 24px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: 1.25rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $break-tablet) {
  .search-movie-form {
    flex-basis: 100%;
    order: 3;
    margin: 1.25rem 0 0.5rem;
    max-width: 100%;
  }
  .header {
    padding: 15px 0;
    &__content {
      flex-wrap: wrap;
    }
    &__logo {
      order: 1;
      margin-right: 0;
      padding-left: 28px;
      background-size: 20px;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__menu {
      order: 2;
      width: 120px;
      margin-left: 0;
      font-size: 1.5rem;
    }
  }
}
