@import '~styles/variables';
@import '~styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-fixed;
  width: 100%;
  padding: 20px 0;
  background-color: var(--background-secondary);
  opacity: 0.98;
  @include for-size(tablet) {
    padding: 15px 0;
  }
  @include for-size(mobile-large) {
    position: static;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__logo {
    margin-right: 1.25rem;
    padding-left: 32px;
    color: var(--color-primary);
    font: bold 1.5rem $font-secondary;
    line-height: 1;
    text-decoration: none;
    background: url('~logo.svg') no-repeat left center / 24px;
    @include for-size(mobile-large) {
      margin-right: 0;
      padding-left: 0;
      background: none;
    }
  }
  &__title {
    @include for-size(tablet) {
      font-size: 1.5rem;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-left: 1.25rem;
    font-size: 1.5rem;
    @include for-size(mobile-large) {
      width: 100%;
      max-width: 110px;
      margin-left: 0;
      font-size: 1.25rem;
    }
  }
}
