.movie-list-sorter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  font-size: 0.85rem;
  &__label {
    margin-right: 0.5rem;
    font-size: inherit;
    text-transform: uppercase;
  }
  &__select {
    font-size: inherit;
    background-color: var(--background-secondary);
  }
}
