.movie-list-sorter {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  padding-right: 1rem;

  &__label {
    font-size: inherit;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }

  &__select {
    background-color: var(--background-secondary);
    font-size: inherit;
  }
}