@import '~styles/_variables';

.signup-form {
    display: flex;
    flex-direction: column;
    &__input {
        margin-bottom: 20px;
    }
    &__btns {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
}
