@import '~styles/_variables';

.ui-icon-button {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-size: inherit;
  border: none;
  background: inherit;
  cursor: pointer;
  &::before {
    display: inline-block;
    width: 1em;
    margin: 0 0.2em;
    font-weight: normal;
    font-family: $font-icon;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
  }
  &--user:before {
    content: '\e800';
  }
  &--trash:before {
    content: '\e803';
  }
  &--plus:before {
    content: '\e806';
  }
  &--cancel:before {
    content: '\e807';
  }
  &--heart:before {
    content: '\e811';
  }
  &--heart-empty:before {
    content: '\e812';
  }
  &--sun:before {
    content: '\f185';
  }
  &--moon:before {
    content: '\f186';
  }
  &--google:before {
    content: '\f1a0';
  }
  &--user-o:before {
    content: '\f2c0';
  }
}
