.movie-menu-item {
  align-items: center;
  display: flex;
  font-size: 1rem;

  label {
    cursor: pointer;
    font-size: inherit;
    padding: 0.5em;
    width: 100%;

    &:hover {
      background: var(--background-primary);
      cursor: pointer;
    }
  }

  input {
    cursor: pointer;
    font-size: inherit;
    margin-right: 0.75em;
  }
}