@import '~styles/_variables';

.movie-menu-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  label {
    width: 100%;
    padding: 0.5em;
    font-size: inherit;
    cursor: pointer;
    &:hover {
      background: var(--background-primary);
      cursor: pointer;
    }
  }
  input {
    margin-right: 0.75em;
    font-size: inherit;
    cursor: pointer;
  }
}
