@import '~styles/variables';
@import '~styles/mixins';

.main {
  display: flex;
  flex-grow: 1;
  padding-top: 77px;
  color: var(--color-primary);
  background: var(--background-primary);
  overflow: hidden;
  @include for-size(tablet) {
    padding: 135px 0 70px;
  }
  @include for-size(mobile-large) {
    padding: 0 0 70px;
  }
  &__content {
    padding: 30px 15px 30px 65px;
    @include for-size(tablet) {
      padding: 30px 15px;
    }
  }
}
