.main {
  background: var(--background-primary);
  color: var(--color-primary);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding-top: 77px;

  @include for-size(tablet) {
    padding-bottom: 70px;
  }

  @include for-size(mobile-large) {
    padding: 0 0 70px;
  }

  &__content {
    padding: 30px 15px 30px 65px;
    width: 100%;

    @include for-size(tablet) {
      padding: 30px 15px;
    }
  }
}