@import '~styles/variables';

.movie-modal-skeleton {
  display: flex;
  &__details {
    flex-grow: 1;
  }
  &__poster {
    align-self: flex-start;
    min-width: 240px;
    min-height: 350px;
    margin-right: 1rem;
  }
  &__title {
    flex-basis: 50%;
    height: 30px;
    margin-bottom: 1rem;
  }
  &__plot {
    height: 50px;
    margin-bottom: 1rem;
  }
  &__info {
    height: 150px;
  }
}

@media only screen and (max-width: $break-tablet) {
  .movie-modal-skeleton {
    flex-direction: column;
    justify-content: center;
    &__poster {
      align-self: center;
      margin: 0 0 1rem;
    }
    &__title {
      margin-bottom: 1.25rem;
    }
    &__plot {
      margin-bottom: 1.25rem;
    }
  }
}

@media only screen and (max-width: $break-mobile-large) {
  .movie-modal-skeleton {
    &__poster {
      width: 300px;
      height: 450px;
      margin: 0 0 1rem;
    }
  }
}
