@import '~styles/variables';

.shopping-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.75em 1em;
  color: var(--color-primary);
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: var(--background-secondary);
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    flex-grow: 1;
    width: 100%;
    margin-right: 10px;
    color: inherit;
    font-size: inherit;
    text-overflow: ellipsis;
    border: 0;
    background: inherit;
    overflow: hidden;
  }
}
