@import '~styles/variables';
.nav {
  flex-shrink: 0;
  padding: 20px 0;
  color: var(--color-primary);
  background-color: var(--background-secondary);
}
.nav-links {
  list-style-type: none;
  &__link {
    display: block;
    padding: 1rem 2rem;
    color: var(--color-primary);
    text-decoration: none;
    &:hover,
    &.active {
      background: var(--background-primary);
    }
  }
}
