@import '~styles/variables';
@import '~styles/mixins';

.search-movie-form-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  background: var(--background-secondary);
  @include for-size(tablet) {
    &.visible {
      position: absolute;
      left: 0;
      width: 100vw;
      max-width: none;
      padding: 0 15px;
      .search-movie-form {
        display: flex;
        &__btn-hide {
          display: block;
        }
        &__btn-show {
          display: none;
        }
      }
    }
  }
}
.search-movie-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  @include for-size(tablet) {
    display: none;
  }
  &__input {
    flex-grow: 1;
    padding: 5.5px 8px;
    font-size: 1rem;
    border-width: 1px 0 1px 1px;
    border-radius: 1px 0 0 1px;
    background: var(--background-primary);
    opacity: 1;
  }
  &__btn {
    padding: 8px 16px;
    font-size: 0.75rem;
    border: 1px solid var(--color-secondary);
    border-radius: 0 1px 1px 0;
    outline: none;
  }
  &__btn-show,
  &__btn-hide {
    display: none;
  }
  &__btn-show {
    @include for-size(tablet) {
      display: block;
      font-size: 1.25rem;
      margin-left: auto;
    }
  }
  &__btn-hide {
    margin-right: 1rem;
  }
}
