.shopping-list {
  flex-grow: 1;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 2rem;
  &__list {
    max-height: calc(100vh - 200px);
    margin-right: -0.5rem;
    padding: 0 0.5rem 0 0;
    overflow-y: auto;
  }
}
