.tabs {
  color: inherit;
  margin-bottom: 15px;

  &__list {
    display: flex;
    list-style-type: none;
    margin-bottom: 25px;

    input {
      border: none;
    }
  }

  &__item {
    color: var(--color-secondary);
    padding: 5px;

    &--active {
      border-bottom: 2px solid;
      border-radius: 0;
      color: var(--color-accent);
    }
  }

  &__btn {
    background: inherit;
    color: inherit;
    padding: 0.25em 0.5em;

    &:hover {
      cursor: pointer;
    }
  }
}